# Ignore everything by default
**

# Allow only the Source directory and its contents
!LAB*/Source/
!LAB*/Source/vhdl/
!LAB*/Source/constr/

# Ignore all files in the Source directory, except those in vhdl and constr
LAB*/Source/**/*
!LAB*/Source/vhdl/**
!LAB*/Source/constr/**
